main .aside-wrapper {
  position: sticky;
  top: 128px;
  bottom: 0;
  left: 0;
  margin: 128px 32px 0 32px;
  height: calc(100vh - 128px);
  overflow: auto;
  box-sizing: border-box;
  padding-bottom: 16px;
}

main .onthispage-wrapper a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(0, 84, 182);
}

main .onthispage-wrapper a:hover {
  text-decoration: underline;
}

main .onthispage-wrapper .active {
  font-weight: bold;
  color: black !important;
}

main .onthispage-wrapper .onthispage-header {
  color: rgb(109, 109, 109);
}
