main .onthispage-wrapper a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(0, 84, 182);
}

main .onthispage-wrapper a:hover {
  text-decoration: underline;
}

main .onthispage-wrapper .active {
  font-weight: bold;
  color: black !important;
}

main .onthispage-wrapper .onthispage-header {
  color: rgb(109, 109, 109);
}
