main div.image-text-wrapper-container:has(.image-text.background-color-white) {
  background-color: white;
}

main div.image-text-wrapper-container > .image-text-wrapper {
  width: 80%;
  margin: auto;
}

main div.image-text-wrapper>div.image-text:not(.center),
main div.image-text-wrapper>div.image-text div.wrapper-division {
  display: flex;
  gap: 100px;
  justify-content: center;
}

main div.image-text-wrapper>div.image-text:is(.center) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main div.image-text-wrapper>.image-text:not(.center)>div>div:last-child,
main div.image-text-wrapper>.image-text div.wrapper-division>div>div:last-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

main div.image-text-wrapper img {
  width: 600px;
  height: 400px;
}

main div.image-text-wrapper .image-text-button-container {
  display: flex;
  gap: 20px;
}

main div.image-text-wrapper-container p {
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  main div.image-text-wrapper img {
    width: 350px;
    height: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {

  main div.image-text-wrapper>div.image-text:not(.center),
  main div.image-text-wrapper>div.image-text div.wrapper-division {
    flex-direction: column !important;
    gap: 50px;
    align-items: center;
  }

  main div.image-text-wrapper>.image-text:not(.center)>div>div:last-child,
  main div.image-text-wrapper>.image-text div.wrapper-division>div>div:last-child {
    text-align: center;
  }

  main div.image-text-wrapper>.image-text>div,
  main div.image-text-wrapper>div.image-text div.wrapper-division>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}