main .details-wrapper details {
    font-size: 16px ;
}

main .details-wrapper details > div > div, 
main .details-wrapper {
    margin: 20px 0px;
}

main div.details-wrapper img {
    max-width: 100%;
}