footer.footer-wrapper {
  position: relative;
  padding-bottom: 32px;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

@media screen and (max-width: 768px) {
  footer.footer-wrapper {
    padding-top: 0;
  }
}

@media screen and (max-width: 768px) {
  footer.footer-wrapper {
    max-width: none;
  }
}

footer.footer-wrapper>div {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}

footer.footer-wrapper>div ul {
  list-style: none;
  padding: 0;
}

footer.footer-wrapper h3.spectrum-Heading--XS {
  position: absolute;
  white-space: nowrap;
}

footer.footer-wrapper>div ul.spectrum-Body--sizeS {
  padding-top: 40px;
  padding-right: 16px;
}

footer.footer-wrapper>div ul.spectrum-Body--sizeS>li {
  margin-top: 16px;
}

footer.footer-wrapper>div ul.spectrum-Body--sizeS>li:first-of-type {
  margin-top: 0;
}

footer.footer-wrapper .footer-links-container-inner {
  display: grid;
  grid-template-areas: "apis blogs support developer";
  grid-template-columns: 25%;
  gap: 32px;
  padding: 32px;
}

@media screen and (max-width: 320px) {
  footer.footer-wrapper .footer-links-container-inner {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  footer.footer-wrapper .footer-links-container-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

footer.footer-wrapper .footer-divider {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

footer.footer-wrapper div.footer-links-container-inner>div:nth-child(1) {
  position: relative;
  grid-area: apis;
}

footer.footer-wrapper div.footer-links-container-inner>div:nth-child(1)>div>ul>li>strong>a {
  padding-bottom: 60px !important;
}

footer.footer-wrapper .footer-apis-container {
  display: flex;
}

@media screen and (max-width: 768px) {
  footer.footer-wrapper .footer-apis-container {
    flex-direction: column;
  }

  footer.footer-wrapper .footer-apis-container>div {
    margin: 0;
  }
}

footer.footer-wrapper .footer-services-container {
  margin-left: 32px;
}

footer.footer-wrapper .footer-services-container ul {
  padding-top: 60px !important;
}

footer.footer-wrapper div.footer-links-container-inner>div:nth-child(2) {
  position: relative;
  grid-area: blogs;
}

footer.footer-wrapper div.footer-links-container-inner>div:nth-child(3) {
  position: relative;
  grid-area: support;
}

footer.footer-wrapper .footer-legal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

footer.footer-wrapper .footer-legal ul {
  display: inline-flex;
  color: rgb(70, 70, 70);
}

footer.footer-wrapper .footer-legal ul>li {
  margin-right: 32px;
}

footer.footer-wrapper .footer-divider {
  display: block;
}

@media screen and (max-width: 768px) {
  footer.footer-wrapper .footer-legal {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    margin: 0 auto;
  }
}

footer.footer-wrapper .footer-legal p {
  color: rgb(70, 70, 70);
}

@media screen and (max-width: 768px) {
  footer.footer-wrapper .footer-legal p {
    display: block;
    margin-top: 16px;
  }

  footer.footer-wrapper .footer-divider {
    display: none;
  }

  footer.footer-wrapper .footer-links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer.footer-wrapper .footer-legal ul {
    flex-direction: column;
  }

  footer.footer-wrapper .footer-horizontal {
    width: 85% !important;
  }

  footer.footer-wrapper {
    padding-left: 40px;
    width: 85%;
  }

  footer.footer-wrapper h3 {
    font-size: 19px !important;
  }

  footer.footer-wrapper a {
    font-size: 17px !important;
  }

  footer.footer-wrapper .footer-links-container-inner {
    justify-content: unset;
  }

  footer.footer-wrapper .footer-legal {
    flex-direction: column !important;
    align-items: baseline !important;
    width: 100%;
  }

}

@media screen and (min-width : 768px) and (max-width : 1024px) {

  footer.footer-wrapper {
    padding-left: 40px;
    width: 94%;
  }

  footer.footer-wrapper .footer-divider {
    display: none;
  }

  footer.footer-wrapper .footer-links-container-inner {
    justify-content: unset;
  }

  footer.footer-wrapper .footer-legal {
    flex-direction: column !important;
    align-items: baseline !important;
    width: 100%;
  }

}

footer.footer-wrapper .footer-horizontal {
  margin-top: 56px;
  width: 100% !important;
}

footer.footer-wrapper .spectrum-Link {
  font-size: 14px;
}
