main div.contributors-wrapper div.contributors-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px !important;
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
}

main div.contributors-wrapper div.feedbackWrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

main div.contributors-wrapper div.buttonWrapper {
    display: flex;
    gap: 10px;
}

main div.contributors-wrapper button {
    border: 2px solid !important;
}

main div.contributors-wrapper a {
    display: flex;
    gap: 25px;
    align-items: center;
    text-decoration: none;
    color: rgb(44, 44, 44);
}

main div.contributors-wrapper .imageList {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 16px;
}

.contributor-modal .model-comp-contributors {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    transition: visibility 0s linear 130ms;
    width: 100%;
    z-index: 2;
    height: 100%;
}

.contributor-modal .show-model-contributors {
    background-color: white;
    z-index: 2;
    position: absolute;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.contributor-modal .wrapper-model {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contributor-modal .content-wrapper-contributors {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contributor-modal .button-wrapper-contributor {
    display: flex;
    grid-area: "buttonGroup";
    justify-content: flex-end;
    padding-top: 40px;
}

.contributor-modal .close-button {
    cursor: pointer;
    color: #fff;
    border: none;
}

main div.contributors-wrapper .image-contributor {
    width: 100%;
    transition: opacity 0.5s;
}

main div.contributors-wrapper .span-Image-contributor {
    margin-left: -17px;
    position: relative;
    border: 3px solid rgb(255, 255, 255);
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
    background: rgb(255, 255, 255);
    overflow: hidden;
}

.contributor-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transform: translateY(10px);
    transition: transform 0.2s cubic-bezier(0, 0, .4, 1), opacity 0s cubic-bezier(0, 0, .4, 1);
}

.contributor-modal.show {
    opacity: 1;
    transform: translateY(0);
}

main .contributors-wrapper-container {
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

@media screen and (max-width: 767px) {
    main div.contributors-wrapper div.contributors-content {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .contributor-modal .button-wrapper-contributor {
        flex-direction: column;
    }
}
