main div.superhero-wrapper:has(div.superhero.centered),
main div.superhero-wrapper:has(div.superhero.centeredxl) {
  background: rgb(255, 255, 255);
  background-position: center;
  background-size: cover;
  padding: 0 !important;
}

main div.superhero-wrapper div.superhero.centered {
  position: relative;
  width: 100%;
  height: 350px;
}

main div.superhero-wrapper div.superhero.centeredxl {
  position: relative;
  width: 100%;
  height: 624px;
}

main div.superhero-wrapper div.superhero.centered .superhero-content,
main div.superhero-wrapper div.superhero.centeredxl .superhero-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25%;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

main div.superhero-wrapper div.superhero.centeredxl img {
  width: 100%;
  height: 624px;
  object-fit: cover;
}

main div.superhero-wrapper div.superhero.centered img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

main div.superhero-wrapper div.superhero.centered :is(h1, h2, h3, h4, h5, h6),
main div.superhero-wrapper div.superhero.centeredxl :is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

main div.superhero-wrapper div.superhero.centered p.spectrum-Body--sizeL,
main div.superhero-wrapper div.superhero.centeredxl p.spectrum-Body--sizeL {
  margin-top: 0 !important;
  font-size: 18px;
  /* color: rgb(34, 34, 34) !important; */
  text-align: center;
}

main div.superhero-wrapper div.superhero.centered .hero-button-container,
main div.superhero-wrapper div.superhero.centeredxl .hero-button-container {
  display: flex;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
  margin-top: 18px;
  gap: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  main div.superhero-wrapper div.superhero.centered .superhero-content,
  main div.superhero-wrapper div.superhero.centeredxl .superhero-content {
    padding: 0 32px;
  }

  main div.superhero-wrapper div.superhero.centered img,
  main div.superhero-wrapper div.superhero.centeredxl img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  main div.superhero-wrapper .centeredxl img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  main div.superhero-wrapper div.superhero.centered,
  main div.superhero-wrapper div.superhero.centeredxl {
    position: relative;
    width: 100%;
    height: 75vh !important;
  }

  main div.superhero-wrapper div.superhero.centeredxl {
    position: relative;
    width: 100%;
    height: 100vh !important;
  }

  main div.superhero-wrapper div.superhero.centered img,
  main div.superhero-wrapper div.superhero.centeredxl img {
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 75vh !important;
  }

  main div.superhero-wrapper div.superhero.centeredxl img {
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 100vh !important;
  }

  main div.superhero-wrapper div.superhero.centered .superhero-content,
  main div.superhero-wrapper div.superhero.centeredxl .superhero-content {
    padding: 0 32px;
  }
}

main div.superhero-wrapper div.superhero {
  background: rgb(255, 255, 255);
  height: 500px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

main div.superhero-wrapper div.superhero.full-width-background img {
  width: 100% !important;
  height: 350px !important;
  object-fit: cover !important;
}

main div.superhero-wrapper div.superhero p.spectrum-Body--sizeL {
  margin-top: 0 !important;
  color: rgb(80, 80, 80) !important;
}

main div.superhero-wrapper div.superhero.font-white h1,
main div.superhero-wrapper div.superhero.font-white h2,
main div.superhero-wrapper div.superhero.font-white h3,
main div.superhero-wrapper div.superhero.font-white p {
  color: white !important;
}

main div.superhero-wrapper {
  padding: 0;
}

main div.superhero-wrapper div.superhero > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(5 * 100% / 12);

  margin-left: 40px;
  margin-right: 32px;
}

main div.superhero-wrapper div.superhero div:nth-child(2) {
  flex: 1;
}

main div.superhero-wrapper div.superhero div:nth-child(2) > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 0;
}

main div.superhero-wrapper div.superhero div:nth-child(2) > div img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 0;
  min-height: 500px !important;
}

main div.superhero-wrapper:has(.full-width-background) div:nth-child(2) > div img {
  display: none;
}

main div.superhero-wrapper:has(.full-width-background) div:nth-child(3) {
  display: flex;
  align-items: center;
}

main div.superhero-wrapper div.superhero .icon-container {
  height: 48px;
  width: 48px;
  margin-top: 0 !important;
  margin-bottom: 24px !important;
}

main div.superhero-wrapper div.superhero span.icon {
  display: none;
}

main div.superhero-wrapper div.superhero .icon {
  height: 100%;
  object-fit: contain;
}

main div.superhero-wrapper div.superhero h3,
main div.superhero-wrapper div.superhero h1 {
  margin-top: 0;
  margin-bottom: 16px;
}

main div.superhero-wrapper div.superhero h1 + p.last-of-type {
  margin-bottom: 0 !important;
}

main div.superhero-wrapper div.superhero .hero-button-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  gap: 16px;
  margin-bottom: 10px;
}

main div.superhero-wrapper div.superhero h3 {
  margin-top: 0;
  margin-bottom: 16px;
}

main div.superhero-wrapper div.superhero h1 + p.last-of-type {
  margin-bottom: 0 !important;
}

main div.superhero-wrapper div.superhero.font-color-white a {
  text-decoration: underline;
}

main div.superhero-wrapper div.superhero.font-color-white h1,
main div.superhero-wrapper div.superhero.font-color-white a,
main div.superhero-wrapper div.superhero.font-color-white p {
  color: white !important;
}

main div.superhero-wrapper div.superhero.font-color-black {
  color: black;
}

main div.superhero-wrapper div.superhero.over-gradient p.button-container:not(strong) a:not(.spectrum-Button--accent) {
  border-color: white;
}

main div.superhero-wrapper div.superhero.over-gradient p.button-container:not(strong) a:not(.spectrum-Button--accent) > span {
  color: white;
}

main div.superhero-wrapper div.superhero.over-gradient p.button-container a {
  font-size: 16px;
}

main div.superhero-wrapper div.superhero-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  main div.superhero-wrapper div.superhero {
    padding: 32px;
    overflow: hidden;
  }

  main div.superhero-wrapper div.superhero > div:first-child {
    margin-left: 64px;
    margin-right: 32px;
    width: 100%;
    margin: 0;
  }

  main div.superhero-wrapper div.superhero div:nth-child(2) {
    display: none;
  }
  main div.superhero-wrapper div.superhero .spectrum-Heading--sizeXXL {
    font-size: 36px;
  }

  main div.superhero-wrapper div.superhero picture {
    display: none;
  }

  main div.superhero-wrapper div.superhero div:nth-child(2) > div div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 0;
  }

  main div.superhero-wrapper div.superhero div:nth-child(2) > div img {
    width: 100% !important;
    min-width: 320px !important;
  }
}

@media screen and (max-width: 425px) {
  main div.superhero-wrapper div.superhero div:nth-child(2) > div img {
    min-height: 0px;
  }
}

