main div.superhero-wrapper {
  background: rgb(255, 255, 255);
  background-position: center;
  background-size: cover;
  padding: 0 !important;
}

main div.superhero-wrapper div.superhero {
  position: relative;
  width: 100%;
  height: 350px;
}

main div.superhero-wrapper div.superhero.xl {
  position: relative;
  width: 100%;
  height: 624px;
}

main div.superhero-wrapper div.superhero .superhero-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25%;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

main div.superhero-wrapper div.superhero.xl img {
  width: 100%;
  height: 624px;
  object-fit: cover;
}

main div.superhero-wrapper div.superhero img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

main div.superhero-wrapper div.superhero h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

main div.superhero-wrapper div.superhero p.spectrum-Body--sizeL {
  margin-top: 0 !important;
  font-size: 18px;
  /* color: rgb(34, 34, 34) !important; */
  text-align: center;
}

main div.superhero-wrapper div.superhero .hero-button-container {
  display: flex;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: center;
  margin-top: 18px;
  gap: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  main div.superhero-wrapper div.superhero .superhero-content {
    padding: 0 32px;
  }

  main div.superhero-wrapper div.superhero img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  main div.superhero-wrapper .xl img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  main div.superhero-wrapper div.superhero {
    position: relative;
    width: 100%;
    height: 75vh !important;
  }

  main div.superhero-wrapper div.superhero.xl {
    position: relative;
    width: 100%;
    height: 100vh !important;
  }

  main div.superhero-wrapper div.superhero img {
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 75vh !important;
  }

  main div.superhero-wrapper div.superhero.xl img {
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 100vh !important;
  }

  main div.superhero-wrapper div.superhero .superhero-content {
    padding: 0 32px;
  }
}
