main div.resources-wrapper li > a{
    font-size: 16px;
    flex: 1;
}

main div.resources-wrapper ul{
    list-style: none;
    padding: 0px;
}
main div.resources-wrapper li{
    margin-top:15px;
    display:flex;
    align-items: center;
}

main div.resources-wrapper h3{
    font-size: 22px;
}

main div.resources-wrapper h3{
    font-size: 18px;
}

main div.resources-wrapper h4{
    font-size: 16px;
}

main div.resources-wrapper div.external-icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    vertical-align: middle;
}