main div.code-wrapper pre[class*=language-],
main div.nested-code-wrapper pre[class*=language-] {
    border-radius: 4px;
}

main div.code-wrapper pre[class*=language-].no-line-numbers .line-highlight,
main div.nested-code-wrapper pre[class*=language-].no-line-numbers .line-highlight {
    transform: translateY(-1.6em);
}