main div.announcement-wrapper div.announcement-button-container {
  display: flex;
  gap: 20px;
}

main div.announcement-wrapper div.announcement-button-container p {
  margin: 0;
}

main div.announcement-wrapper div.announcement.block {
  margin: auto;
  max-width: 1280px;
  padding: 20px;
}

main div.announcement-wrapper div.announcement:not(.start) > div {
  height: 100%;
  text-align: center;
}

main div.announcement-wrapper div.announcement.background-color-gray{
  background-color: rgb(245, 245, 245);
}

main div.announcement-wrapper:has(.announcement.background-color-white),
main div.announcement.background-color-white {
  background-color: white;
}

main div.announcement-wrapper:has(.announcement.background-color-navy),
main div.announcement.background-color-navy {
  background-color: rgb(15, 55, 95);
}

main div.announcement-wrapper:has(.announcement.background-color-dark-gray),
main div.announcement.background-color-dark-gray {
  background-color: #323232;
}

main div.announcement-wrapper div.announcement.background-color-dark-gray .announcement-heading,
main div.announcement-wrapper div.announcement.background-color-dark-gray p,
main div.announcement-wrapper div.announcement.background-color-navy .announcement-heading,
main div.announcement-wrapper div.announcement.background-color-navy p {
  color: white;
}

main div.announcement-wrapper>.block>div>div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 95%;
  align-items: center;
  margin: auto;
}

main div.announcement-wrapper>.block>div {
  display: flex;
  margin-left: 5%;
}

main div.announcement-wrapper .announcement.start>div {
  justify-content: start;
  margin-left: 5%;
}

main div.announcement-wrapper .announcement.start>div>div {
  align-items: normal;
}

main div.announcement-wrapper .announcement>div {
  flex-direction: column;
  justify-content: center;
  margin: 0;
  gap: 15px;
  font-size: 16px;
}

main div.announcement-wrapper .announcement.end>div {
  justify-content: end;
  margin-right: 5%;
}

main div.announcement-wrapper .announcement.end>div>div {
  width: 750px;
}

main div.announcement-wrapper .announcement .announcement-heading {
  color: rgb(44, 44, 44);
}

main div.announcement-wrapper .announcement p {
  color: rgb(44, 44, 44);
}

main div.announcement-wrapper .announcement.font-white .announcement-heading,
main .announcement.font-white p {
  color: white !important;
}

main div.announcement-wrapper .announcement.secondary-font-white .spectrum-Button--secondary,
main div.announcement-wrapper div.announcement.background-color-dark-gray .spectrum-Button--secondary,
main div.announcement-wrapper div.announcement.background-color-navy .spectrum-Button--secondary {
  color: white !important;
  border-color: white !important;
}

main div.announcement-wrapper .announcement.secondary-border-white .spectrum-Button--secondary {
  border-color: white !important;
}

main div.hasborder {
  border: 1px solid #e5e5e5;
  border-radius: .75rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05), 0 6px 18px rgba(0, 0, 0, .04);
}

main div.announcement-wrapper p.button-container.over-gradient a {
  font-size: 16px;
}

main div.announcement-wrapper p.button-container.over-gradient a:hover {
  background: rgb(213,213,213);
}

@media screen and (max-width: 1024px) {
  main .announcement-wrapper>.block>div {
    margin: 0 !important;
    justify-content: center !important;
  }

  main .announcement-wrapper .announcement>div>div {
    text-align: center;
    align-items: center !important;
  }
}

@media screen and (max-width: 425px) {
  main .announcement-wrapper .announcement-button-container {
    flex-direction: column;
  }

  main .announcement-wrapper .announcement {
    margin: 5%;
    text-align: center;
  }

  main .announcement-wrapper {
    padding: 4% 0;
  }
}
