main div.iframe-wrapper {
  width: 100%;
  border: none;
}

main div.iframe-wrapper iframe.iframe-container {
  width: 100%;
  height: 85vh;
  border: none;
}

main div.iframe-wrapper iframe.full-height {
  height: calc(100vh - 64px) !important ;
}

main div.iframe-wrapper {
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(248, 248, 248);
}

main div.iframe-wrapper > div{
  max-width: 1280px;
  padding-top: 16px;
  margin: auto;
}

main div.iframe-wrapper p {
  margin-top: 0;
  margin-bottom: 0!important;
}

main div.iframe-wrapper div.iframe {
  margin-top: 32px;
  max-width: 1280px;
  display: flex;
  justify-content: center;
}

main div.iframe-wrapper div.iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media screen and (max-width: 1280px) {
  main div.iframe-wrapper {
    padding: 0;
    display: flex;
    justify-content: center;
    /* width: 100vw; */
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
  }
  main div.iframe-wrapper iframe.iframe-container {
    width: 90vw !important;
  }
  /* Override if iframe has .full-width-mobile class */
  main div.iframe-wrapper iframe.iframe-container.full-width-mobile {
    width: 100% !important;
  }
}

main div.iframe-wrapper .iframe-custom-width{
  display: flex;
  align-items: center;
  justify-content: center;
}